<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089944429583-2s242lvjmuse03o3gd7pqp98jqgodgo5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089944429583-2s242lvjmuse03o3gd7pqp98jqgodgo5</string>
	<key>API_KEY</key>
	<string>AIzaSyB5iEoiMk-RXkmpCCE2D_uyAFVbtjVygDw</string>
	<key>GCM_SENDER_ID</key>
	<string>1089944429583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.jackslots</string>
	<key>PROJECT_ID</key>
	<string>jack-treasure-slots</string>
	<key>STORAGE_BUCKET</key>
	<string>jack-treasure-slots.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089944429583:ios:fe3d9ebaede0255350ef7a</string>
</dict>
</plist>